In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sqlalchemy import create_engine, inspect

In [2]:
path = "sqlite:///Resources/hawaii.sqlite"
engine = create_engine(path)
conn = engine.connect

In [3]:
inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['measurement', 'station']

In [4]:
for table in tables: 
    columns = inspector.get_columns(table)
    print(table)
    print()
    for column in columns: 
        print(column["name"], column["type"])
        
        
# put it as a dataframe 

display(pd.DataFrame(columns))

print()

measurement

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT
station

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

        name     type  nullable default autoincrement  primary_key
0         id  INTEGER     False    None          auto            1
1    station     TEXT      True    None          auto            0
2       name     TEXT      True    None          auto            0
3   latitude    FLOAT      True    None          auto            0
4  longitude    FLOAT      True    None          auto            0
5  elevation    FLOAT      True    None          auto            0

In [19]:
query = """
        SELECT 
            * 
        FROM 
            station 
        LIMIT 10; 
     """

pd.read_sql(query, conn)

AttributeError: 'function' object has no attribute 'cursor'

In [6]:
query = """
        SELECT
            date,
            station,
            prcp
        FROM
            measurement
        ORDER BY
            date asc,
            station asc
        """

df = pd.read_sql(query, conn)

df

AttributeError: 'function' object has no attribute 'cursor'

In [7]:
date1 = "2016-11-22"
date2 = "2016-12-12"


query = f"""
        SELECT
            min(tobs) as tmin,
            max(tobs) as tmax,
            avg(tobs) as tavg
        FROM
            measurement
        WHERE
            date >= '{date1}'
            and date <= '{date2}'
        """


df = pd.read_sql(query, conn)

df

AttributeError: 'function' object has no attribute 'cursor'

In [13]:
query """
     SELECT
         max(date)
     FROM 
         measurement 
      """
engine.execute(query).fetchall()

SyntaxError: invalid syntax (Temp/ipykernel_7740/1040551304.py, line 1)

In [14]:
date1 = "2016-11-22"
date2 = "2016-12-12"


query = f"""
        SELECT
            min(tobs) as tmin,
            max(tobs) as tmax,
            avg(tobs) as tavg
        FROM
            measurement
        WHERE
            date >= '{date1}'
            and date <= '{date2}'
        """


df = pd.read_sql(query, conn)

df

AttributeError: 'function' object has no attribute 'cursor'